#parse('includes/header.vm')

<h4>Delete feed</h4>

#parse('includes/feedheading.vm')

<p>Are you sure that you wish to delete this feed?</p>

<form action="$urlBuilder.getFeedUrl($feedNumber)/delete" method="POST">	
	<input type="submit" value="Delete feed" class="btn btn-primary" />
</form>

<form action="$urlBuilder.getFeedUrl($feedNumber)" method="GET">
	<input type="submit" value="Cancel" class="btn btn-primary" />	
</form>

#parse('includes/footer.vm')
