<h4>RSS to n0tice</h4>
 
<p>
#if ($loggedInUsername) 
	Logged in as: $escape.html($loggedInUsername) | <a href="$urlBuilder.logoutUrl">Logout</a>
#else
	<a href="$urlBuilder.loginUrl">Login</a>
#end
</p>

<h5>Edit feed</h5>

<form action="$urlBuilder.getFeedUrl($feedNumber)/edit" method="POST">

  	#springBind( "feed.title" )
	Title: <input name="${status.expression}" value="$!status.value" />	
	<br/>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end
	
  	#springBind( "feed.url" )
	Url: <input name="${status.expression}" value="$!status.value" />	
	<br/>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end
	
	#springBind( "feed.noticeboard" )
	Noticeboard: 
	<select name="${status.expression}">
		<option value="" />
		#if($noticeboards && $noticeboards.size() > 0) 
			#foreach ($noticeboard in $noticeboards)
				<option value="$escape.html($noticeboard.domain)" #if($noticeboard.domain == $status.value) SELECTED #end >$escape.html($noticeboard.name)
			#end
		#end
	</select>
	
	<p>
	#springBind( "feed.latitude" )
	Default latitude: <input name="${status.expression}" value="$!status.value" />	
	<br/>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end
	<br/>
	#springBind( "feed.longitude" )
	Default longitude: <input name="${status.expression}" value="$!status.value" />	
	<br/>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end
	</p>
		
	#springBind( "feed.scheduled" )
	Scheduled: 
		<input type="hidden" name="_${status.expression}" value="$!status.value" />	
		<input type="checkbox" name="${status.expression}" value="true" #if(${status.value} == true) checked #end>
	<br/>
			
	<input type="submit" value="Update feed" />
	
</form>

<form action="$urlBuilder.getFeedUrl($feedNumber)" method="GET">
	<input type="submit" value="Cancel" />	
</form>
