#parse('includes/header.vm')
 
<p align="right"><a href="$urlBuilder.getFeedUrl($feedNumber)/edit"><button class="btn btn-primary" type="button">Edit</button></a>
<a href="$urlBuilder.getFeedUrl($feedNumber)/delete"><button class="btn btn-primary" type="button">Delete</button></a></p>

#parse('includes/feedheading.vm')

#if($feed.noticeboard)
        <p>Importing to #parse('includes/noticeboard.vm')</p>
#end

#if($feed.scheduled)
        <p>Scheduled import is selected.<br/> Geotagged items from this feed will be imported automatically</p>
#end

#if($feed.defaultPosition)
	<p>Default position: $feed.latitude, $feed.longitude</p>
#end

#if($feeditems && $feeditems.size() > 0) 

	<form action="$urlBuilder.getFeedUrl($feedNumber)/import" method="POST">
		<input type="submit" value="Import geotagged feed items" class="btn btn-primary"/>	
	<form>
	
	<p>Feed items:<p>
	<ul class="feeditems">
		#foreach ($feeditem in $feeditems)
			<li class="feeditem">			
				<h5>$escape.html($feeditem.title)</h5>
								
				#if ($feeditem.geoTagged) 
					<br />$feeditem.latitude - $feeditem.longitude
				#else 
					#if($feed.defaultPosition)
						<br /><i>$feed.latitude - $feed.longitude</i>						
					#end
				#end
				
				#if ($feeditem.imageUrl)
					<p><img src="$feeditem.imageUrl" /></p>
				#end
				
				#if ($feeditem.hasHistory()) 
					<p>Imported
					#if($feeditem.importNoticeboard)  
						to <span class="label label-info">${escape.html($feeditem.importNoticeboard)}.n0tice.com</span>						
					#end					
					#if($feeditem.importDate)  
						$dateFormatter.timeSince($feeditem.importDate)
					#end
					#if($feeditem.n0ticeWebUrl)
						- <a href="$feeditem.n0ticeWebUrl")>Link</a>
					#end
					#if($feeditem.n0ticeId)
						<br/><a href="$urlBuilder.getTakeDownUrl($feeditem.n0ticeId, $feedNumber)">Take down</a>
					#end
					</p>					
				#end
				
				<p class="itemBody">				
					<pre>$htmlCleaner.stripHtml($feeditem.body)</pre>
				</p>
								
			</li>
		#end
	</ul>
					
#else
	<p>No feed items could be loaded from this feed.</p>
#end
		
#parse('includes/footer.vm')