<head>
<style>
	.feeditem {
		padding-bottom: 10pt;
	}
</style>
</head>

<h4>RSS to n0tice</h4>
 
<p>
#if ($loggedInUsername) 
	Logged in as: $escape.html($loggedInUsername) | <a href="$urlBuilder.logoutUrl">Logout</a>
#else
	<a href="$urlBuilder.loginUrl">Login</a>
#end
</p>

<h5>Feed: #if($feed.title) $escape.html($feed.title) - #end $escape.html($feed.url)</h5>

<p><a href="$urlBuilder.getFeedUrl($feedNumber)/edit">Edit</a></p>

<p><a href="$urlBuilder.getFeedUrl($feedNumber)/delete">Delete</a></p>

<p>Scheduled: $feed.scheduled</p>

#if($feed.noticeboard) 
	<p>Importing to $escape.html($feed.noticeboard)</p>
#end

#if($feeditems && $feeditems.size() > 0) 
	<p>Feed items:<p>
	<ul class="feeditems">
		#foreach ($feeditem in $feeditems)
			<li class="feeditem">			
				$escape.html($feeditem.title)
								
				#if ($feeditem.geoTagged) 
					<br />$feeditem.latitude - $feeditem.longitude
				#end
				
				#if ($feeditem.hasHistory()) 
					<p>Imported
					#if($feeditem.importNoticeboard)  
						to $escape.html($feeditem.importNoticeboard)
					#end					
					#if($feeditem.importDate)  
						on $feeditem.importDate
					#end
					#if($feeditem.n0ticeWebUrl)
						- <a href="$feeditem.n0ticeWebUrl")>Link</a>
					#end
					#if($feeditem.n0ticeId)
						<br/><a href="$urlBuilder.getTakeDownUrl($feeditem.n0ticeId, $feedNumber)">Take down</a>
					#end
					</p>
				#end
			</li>
		#end
	</ul>

	<form action="$urlBuilder.getFeedUrl($feedNumber)/import" method="POST">
		<input type="submit" value="Import geotagged feed items" />	
	<form>
				
#else
	<p>No feed items could be loaded from this feed.</p>
#end