<h4>RSS to n0tice</h4>
 
<p>
#if ($loggedInUsername) 
	Logged in as: $escape.html($loggedInUsername) | <a href="$urlBuilder.logoutUrl">Logout</a>
#else
	<a href="$urlBuilder.loginUrl">Login</a>
#end
</p>

<h5>Feed: $escape.html($feed.url)</h5>

#if($feeditems && $feeditems.size() > 0) 
	<p>Feed items:<p>
	<ul>
	#foreach ($feeditem in $feeditems)
		<li>$feeditem.title
			#if ($feeditem.geoTagged) 
				<br />$feeditem.latitude - $feeditem.longitude
			#end
		</li>
	#end
	</ul>

	<form action="$urlBuilder.getFeedUrl($feedNumber)" method="POST">
		<input type="submit" value="Import geotagged feed items" />	
	<form>
			
#else
	<p>No feed items could be loaded from this feed.</p>
#end
