#parse('includes/header.vm')
	
#if ($loggedInUsername)

	#if($feeds && $feeds.size() > 0) 
		<h4>Your feeds</h4>
		<ul>
			#foreach ($feed in $feeds)
				<li><a href="$urlBuilder.getFeedUrl($velocityCount)">
					#if($feed.title)
						$escape.html($feed.title)
					#else
						$escape.html($feed.url)
					#end
					</a>
					</li>
			#end
		</ul>
	
	#else
		<p>You have no feeds setup for import into n0tice.</p>
	#end
	
	<p><a href="$urlBuilder.newFeedUrl"><button class="btn btn-primary" type="button">Add a new feed</button></a>

#else
	<p><a href="$urlBuilder.loginUrl">Login</a> with your n0tice account to import feed items into your noticeboards.</p>
#end

#parse('includes/footer.vm')