#parse('includes/header.vm')

#if ($loggedInUsername)

	#if($feeds && $feeds.size() > 0) 
		<p>Your feeds:<p>
		<ul>
			#foreach ($feed in $feeds)
				<li><a href="$urlBuilder.getFeedUrl($velocityCount)">#if($feed.title) $escape.html($feed.title) - #end $escape.html($feed.url)</a></li>
			#end
		</ul>
	
	#else
		<p>You have no feeds setup for import into n0tice.</p>
	#end
	
	<p><a href="$urlBuilder.newFeedUrl">Add a new feed</a>

#end

#parse('includes/footer.vm')