<h4>RSS to n0tice</h4>
 
<p>
#if ($loggedInUsername) 
	Logged in as: $escape.html($loggedInUsername) | <a href="$urlBuilder.logoutUrl">Logout</a>
#else
	<a href="$urlBuilder.loginUrl">Login</a>
#end
</p>

<h5>Feed: $escape.html($feed.url)</h5>

<p>$importedCount items imported to $escape.html($feed.noticeboard)</p>

<a href="$urlBuilder.getFeedUrl($feedNumber)">Back to feed</a>
