#parse('includes/header.vm')

<h5>Feed: #if($feed.title) $escape.html($feed.title) - #end $escape.html($feed.url)</h5>

<p>$importedCount items imported to $escape.html($feed.noticeboard)</p>

<a href="$urlBuilder.getFeedUrl($feedNumber)">Back to feed</a>

#parse('includes/footer.vm')