#parse('includes/header.vm')

#parse('includes/feedheading.vm')

<p>$importedCount items imported to #parse('includes/noticeboard.vm')</p>
<a href="$urlBuilder.getFeedUrl($feedNumber)"><button class="btn btn-primary">Back to feed</button></a>

#parse('includes/footer.vm')
